$primary-color:  #041027;
$background-color: #FBFCFF;
$white: #FFFFFF;
$grey: #ADB9CE;
$secondary-color: #041027;
$border: 0.8px solid #DDE5F3;
$primary-font: Helvetica, "Helvetica Neue", Arial, sans-serif;
$box-shadow: 0px 8px 20px rgba(4, 16, 39, 0.08);